@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
}


body,html{
  overflow-x: hidden;
}
.primary {
  background-color:darkcyan;
  padding: 5px 20px;
  color: white;
  border: none;
}